In [37]:
import pandas as pd
weather_data={
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,22,28,29,30,32],
    'windspeed': [12,22,14,15,16,17],
    'event': ['snow','rainy','snow','windy','snow','rainy']
}
df=pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32         12   snow
1  1/2/2017           22         22  rainy
2  1/3/2017           28         14   snow
3  1/4/2017           29         15  windy
4  1/5/2017           30         16   snow
5  1/6/2017           32         17  rainy

In [40]:
rows,columns=df.shape

In [41]:
rows

6

In [42]:
columns

4

In [43]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32         12   snow
1  1/2/2017           22         22  rainy

In [44]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           32         17  rainy

In [45]:
df[0:2]

        day  temperature  windspeed  event
0  1/1/2017           32         12   snow
1  1/2/2017           22         22  rainy

In [46]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [47]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [48]:
df.event

0     snow
1    rainy
2     snow
3    windy
4     snow
5    rainy
Name: event, dtype: object

In [49]:
df['event']

0     snow
1    rainy
2     snow
3    windy
4     snow
5    rainy
Name: event, dtype: object

In [50]:
type(df['event'])

pandas.core.series.Series

In [51]:
df

        day  temperature  windspeed  event
0  1/1/2017           32         12   snow
1  1/2/2017           22         22  rainy
2  1/3/2017           28         14   snow
3  1/4/2017           29         15  windy
4  1/5/2017           30         16   snow
5  1/6/2017           32         17  rainy

In [62]:
df[['event','day']]

   event       day
0   snow  1/1/2017
1  rainy  1/2/2017
2   snow  1/3/2017
3  windy  1/4/2017
4   snow  1/5/2017
5  rainy  1/6/2017

In [64]:
df['temperature'].max()

32

In [63]:
df['temperature'].min()

22

In [65]:
df['temperature'].mean()

28.833333333333332

In [61]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     28.833333  16.000000
std       3.710346   3.405877
min      22.000000  12.000000
25%      28.250000  14.250000
50%      29.500000  15.500000
75%      31.500000  16.750000
max      32.000000  22.000000

In [66]:
df[df.temperature>=25]

        day  temperature  windspeed  event
0  1/1/2017           32         12   snow
2  1/3/2017           28         14   snow
3  1/4/2017           29         15  windy
4  1/5/2017           30         16   snow
5  1/6/2017           32         17  rainy

In [67]:
df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
0  1/1/2017           32         12   snow
5  1/6/2017           32         17  rainy

In [69]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
0  1/1/2017           32
5  1/6/2017           32

In [70]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [92]:
df.reset_index()

       temperature  windspeed
event
snow            32         12
rainy           22         22
snow            28         14
windy           29         15
snow            30         16
rainy           32         17

In [99]:
df.reset_index(inplace=True)
df

   index  event  temperature  windspeed
0      0   snow           32         12
1      1  rainy           22         22
2      2   snow           28         14
3      3  windy           29         15
4      4   snow           30         16
5      5  rainy           32         17

In [98]:
df

   event  temperature  windspeed
0   snow           32         12
1  rainy           22         22
2   snow           28         14
3  windy           29         15
4   snow           30         16
5  rainy           32         17