In [1]:
import pandas as pd            #to convert dateseries of diff formats to datetime type
dates=['2017-01-05','Jan 5,2017','01/05/2017','2017.01.05','2017/01/05','20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05'],
              dtype='datetime64[ns]', freq=None)

In [5]:
import pandas as pd            #to convert dateseries of diff formats to datetime type
dates=['2017-01-05 02:30:00 PM','Jan 5, 2017 14:30:00 ','01/05/2017','2017.01.05','2017/01/05','20170105']

pd.to_datetime(dates)

DatetimeIndex(['2017-01-05 14:30:00', '2017-01-05 14:30:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00',
               '2017-01-05 00:00:00', '2017-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [7]:
pd.to_datetime('5/1/2017',dayfirst=True)

Timestamp('2017-01-05 00:00:00')

In [9]:
pd.to_datetime('5$1$2017',format='%d$%m$%Y')

Timestamp('2017-01-05 00:00:00')

In [11]:
import pandas as pd            #to convert dateseries of diff formats to datetime type
dates=['2017-01-05','Jan 5,2017','01/05/2017','2017.01.05','2017/01/05','20170105','abc']

pd.to_datetime(dates,errors='ignore') #errores ignore will ignore the errors occured from pandas documentaion

Index(['2017-01-05', 'Jan 5,2017', '01/05/2017', '2017.01.05', '2017/01/05',
       '20170105', 'abc'],
      dtype='object')

In [12]:
import pandas as pd            #to convert dateseries of diff formats to datetime type
dates=['2017-01-05','Jan 5,2017','01/05/2017','2017.01.05','2017/01/05','20170105','abc']

pd.to_datetime(dates,errors='coerce') #converst the errors occured from pandas documentaion and gives not a timestamp bb

DatetimeIndex(['2017-01-05', '2017-01-05', '2017-01-05', '2017-01-05',
               '2017-01-05', '2017-01-05',        'NaT'],
              dtype='datetime64[ns]', freq=None)

In [15]:
t=1501356749        #seconds passed tillnow since jan1,1970- epoch 
dt=pd.to_datetime([t],unit='s')
#pd.to_datetime(t,unit='s')
dt

DatetimeIndex(['2017-07-29 19:32:29'], dtype='datetime64[ns]', freq=None)

In [17]:
dt.view('int64')

array([1501356749000000000], dtype=int64)